@import '../../style/var.less';

page {
  background-color: @gray-2;
}

.page-profile {
  .profile-header {
    height: 256px;
    padding: 0 24px;
    background: @gradient-primary;

    &__avatar {
      width: 120px;
      height: 120px;
      margin-right: 82px;
      overflow: hidden;
      border: 2px solid @white;
      border-radius: 50%;
    }

    &__name {
      flex: 1;
      margin-bottom: 0;
      font-size: 60px;
    }
  }
  .custom-form {
    &-picker {
      position: relative;
      .item-content {
        display: none;
      }
      .at-icon-chevron-right {
        position: absolute;
        top: 28px;
        right: 10px;
        color: #ccc;
        font-size: 32px !important;
      }
    }
  }
}
