@import '../../style/var.less';

page {
  background-color: @gray-2;
}

.board {
  .at-textarea {
    padding: 16px;
    font-size: 28px;
    background: none;

    &__textarea {
      height: 110px;
      font-size: 28px;
    }
  }
  .at-input {
    flex: 1 0 auto;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    padding: 16px !important;
    background: none;

    &__input {
      font-size: 28px;
      text-align: left;
    }

    &::after {
      display: none;
    }
  }
}
