@import '../../style/var.less';

.circle-index--primary {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  color: @primary;
  font-size: 40px;
  background-color: #ece7ff;
  border-radius: 50%;
}

.lib-song-item {
  margin-bottom: 35px;
  padding: 0 24px;
  &__content {
    width: 450px;
  }
  &__title {
    margin-bottom: 15px;
    &--read {
      color: #999;
    }
  }
}

.manage-song-item {
  margin-bottom: 20px;
  padding: 20px 24px;
  background: @white;
  &__content {
    flex: 1;
  }
}

.offer-modal-item {
  margin-bottom: 30px;
  padding: 0;
  &:last-child {
    margin-bottom: 0;
  }
  .input--border {
    width: 224px;

    .at-input {
      flex: auto;
    }
  }
}

.full-page {
  &--loader,
  &--error {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: @white;
  }

  &--error {
    &__icon {
      margin-bottom: 40px;
      color: #222;
      font-size: 120px;
    }
  }
}

.emptybox {
  &__icon__wrapper {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background-color: #e4e4e4;
    border-radius: 50%;
  }
  &__icon {
    color: #fff;
    font-size: 112px;
  }
  &__text {
    color: @gray-5;
  }
}

.item-rank__img {
  width: 42px;
  height: 42px;
}
