@import '../../style/var.less';

.circle-index--primary {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  color: @primary;
  font-size: 40px;
  background-color: #ece7ff;
  border-radius: 50%;
}
