@import '../../style/var';

.custom-tabbar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2889995;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 98px;
  padding-bottom: env(safe-area-inset-bottom);
  color: #b6b6b6;
  font-size: 22px;
  background: #fff;
  border-top: 1px solid #f2f2f2;

  &__item {
    text {
      line-height: 30px;
    }

    &-ac {
      color: @primary;
    }
  }

  &__img {
    width: 44px;
    height: 44px;
    margin-bottom: 4px;
  }
}
