@import 'var.less';
@import 'font.css';

/* ellipsis */
.multi-ellipsis(@lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: @lines;

  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

.ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis {
  .ellipsis();
}

.ellipsis--l1 {
  .ellipsis();
}

.ellipsis--l2 {
  .multi-ellipsis(2);
}

.ellipsis--l3 {
  .multi-ellipsis(3);
}

.ellipsis--l4 {
  .multi-ellipsis(4);
}

/* atom css */
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }

.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr24 { margin-right: 24px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }
.mr40 { margin-right: 40px; }
.mr50 { margin-right: 50px; }

.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }

.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml24 { margin-left: 24px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }
.ml40 { margin-left: 40px; }
.ml50 { margin-left: 50px; }


.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-strong {font-weight: 400;}

.text-secondary {
  color: @gray-6 !important;
}
.text-primary {
  color: @primary !important;
}
.text-danger {
  color: @red !important;
}
.text-blue {
  color: @blue !important;
}
.text-success {
  color: @green !important;
}
.bg-white {
  background-color: @white !important;
}

.px24 {
  padding-right: 24px;
  padding-left: 24px;
}
.py20 {
  padding-top: 20px; padding-bottom: 20px;
}
.p-default {
  box-sizing: border-box;
  width: 100%;
  .px24; .py20;
}

/* custom taro ui list style */
.custom-list {
  .at-list__item {
    font-size: 28px !important;
    line-height: 40px !important;

    &::after {
      border-color: #eee !important;
    }

    &--disabled {
      .at-list__item-container {
        opacity: 0.5;
      }
    }

    .item-content__info-title {
      color: @gray-7 !important;
      line-height: 40px !important;
    }

    &-extra {
      max-width: 350px !important;
      .item-extra__info {
        padding-right: 0 !important;
        color: @gray-8 !important;
        font-size: 28px;
      }
    }

    .item-extra__icon-arrow {
      font-size: 32px;
    }
  }

  &::after {
    display: none;
  }
}

/* custom taro ui checkbox style */
.custom-checkbox {
  .at-checkbox {
    background-color: transparent !important;

    &__option {
      padding-left: 24px !important;
    }
    &__icon-cnt {
      margin-top: 0 !important;
      margin-right: 12px !important;
    }

    &::before,
    &::after {
      content: none !important;
    }
  }
}

/* custom taro ui form item style */
.custom-form {
  background-color: transparent;
  &::after {
    content: none !important;
  }
  .at-input {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    padding-left: 24px;
    &::after {
      top: auto;
      right: 0;
      bottom: 0;
      left: 24px;
      transform: scaleY(0.5);
    }
    &__title {
      width: 220px;
      color: @gray-7;
      font-size: 28px;
      line-height: 40px;
    }

    &__input {
      height: 40px;
      min-height: 40px;
      padding-right: 24px;
      color: @gray-8;
      font-size: 28px;
      line-height: 40px;
      text-align: right;
    }
  }
  .custom-checkbox;
  .at-list__item {
    font-size: 28px !important;
    line-height: 40px !important;
    background-color: #fff;
    .item-content__info-title {
      color: @gray-7 !important;
      line-height: 40px;
    }

    &-extra {
      max-width: 350px !important;
      .item-extra__info {
        display: block;
        padding-right: 0 !important;
        color: @gray-8 !important;
        font-size: 28px !important;
      }
    }
    .item-extra__icon-arrow {
      font-size: 32px;
    }
  }

  .at-input::after,
  .at-list__item::after {
    border-color: #eee;
  }
}

/* custom captcha input form item style */
.captcha-input {
  padding: 15px 0 15px 24px !important;
}

/* custom taro ui modal style */
.at-modal__container {
  .at-modal__content {
    padding: 20px 40px 40px;
  }
  .at-modal__header {
    padding: 40px 24px;
    font-weight: bolder;
    &::after {
      display: none;
    }
  }
}

.at-icon-chevron-right::before {
  content: "\e6a3";
}
